{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Album

    <script>
    var MyGlobal = {
         var_1: "{{ MEDIA_URL }}",
         var_2: " {{ album.albumCover }}",
        };
    </script>
    
{% endblock %}

{% block body_block %}
{% if album %}

<p id="bla"></p>
<h1>{{ album.albumName }}</h1>
<img id="myField" src="" width="300" height="300"
     alt="{{ artist.artistName }}'s profile image" />
<div>
    <h2> Songs: </h2>
    <ul>
        {% if songs %}
        {% for song in songs %}
        {% ifequal album.albumName song.albumID.albumName %}


        <li><a href="{% url 'applausable:show_song' song.slug %}">{{ song.title }}</a></li>
        {% endifequal %}
        {% endfor %}

    </ul>
    {% else %}
    <strong>This album has no songs.</strong>
    {% endif %}
</div>
<a href="{% url 'applausable:add_song' album.slug %}">Add Song</a>
<div>
    <script>
        var parts = "{{ album.albumCover }}".split('/');
        var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
        document.getElementById("myField").src = " {{MEDIA_URL }}" + "album_covers/" + lastSegment;
    </script>
</div>
    {% else %}

    <br />
    <h1>No album found</h1>
    {% endif %}
    {% endblock %}
