{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Album
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">

<div class="jumbotron">
    <div class="text-center">
        {% if album %}
        <h1>{{ album.albumName }}</h1>

        {% if album.artistName %}
        <br />
        <a href="{% url 'applausable:show_artist' album.artistID.slug %}">
            <h4>by {{ album.artistName }}</h4>
        </a>
        {% endif %}

        {% if overallScore %}
        <br />
        <h2> Album Score: {{overallScore.overallScore__avg|floatformat}}/10</h2>
        {% endif %}

        {% else %}
        <h1>No album found</h1>
        {% endif %}
    </div>
</div>

<div class="container">
    <img src="{{ MEDIA_URL }}{{ album.albumCover }}" width="300" height="300"
         alt="{{ artist.artistName }}'s profile image" />
    <br />
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Song</th>
                <th scope="col">Artist</th>
                <th scope="col">Score</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {% if songs %}
            {% for song in songs %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.artistName }}</td>
                <td>{{ song.overallScore }}</td>
                <td><a class="nav-link active" href="{% url 'applausable:show_song' song.slug %}">Learn More</a> </td>
            </tr>
            {% endfor %}
            {% else %}
            This album has no songs.
            {% endif %}
        </tbody>
    </table>
</div>
        {% if request.user.is_superuser %}
<br />
<a href="{% url 'applausable:add_song' album.slug %}">Add Song</a>
        {% endif %}
</div>

<div class="container" align="center">
    <br />

    <a href="{% url 'applausable:show_artist' album.artistID.slug %}">

        <img src="{{ MEDIA_URL }}{{ album.artistID.artistImage }}"
             width="250"
             height="250" alt="Artist Image" />
        <p align="center">Back to Artist: {{ album.artistID.artistName }}</p>
    </a>
</div>

{% endblock %}
