{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Genres
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/photo_test.css' %}">

<div class='jumbotron jumbotron-fluid'>
    <div class='container'>
        <h1>Genres:</h1>
    </div>
</div>


<table cellpadding="25" align="center">
    <tr>
        <td>
            <a class="photo" id="photo" href="{% url 'applausable:show_genre' 'Pop' %}">

                <img src="{% static 'genre_images/Pop.PNG' %}"
                     width="150"
                     height="150" alt="Pop Image" />

            </a>
        </td>

        <td>
            <a href="{% url 'applausable:show_genre' 'Rock' %}">

                <img src="{% static 'genre_images/Rock.PNG' %}"
                     width="150"
                     height="150" alt="Rock Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Soul' %}">

                <img src="{% static 'genre_images/Soul.PNG' %}"
                     width="150"
                     height="150" alt="Soul Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Jazz' %}">

                <img src="{% static 'genre_images/Jazz.PNG' %}"
                     width="150"
                     height="150" alt="Jazz Image" />

            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'applausable:show_genre' 'Classical' %}">

                <img src="{% static 'genre_images/Classical.PNG' %}"
                     width="150"
                     height="150" alt="Classical Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Country' %}">

                <img src="{% static 'genre_images/Country.PNG' %}"
                     width="150"
                     height="150" alt="Country Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Indy' %}">

                <img src="{% static 'genre_images/Indy.PNG' %}"
                     width="150"
                     height="150" alt="Indy Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'R&B' %}">

                <img src="{% static 'genre_images/R&B.PNG' %}"
                     width="150"
                     height="150" alt="R&B Image" />

            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'applausable:show_genre' 'Metal' %}">

                <img src="{% static 'genre_images/Metal.PNG' %}"
                     width="150"
                     height="150" alt="Metal Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Reggae' %}">

                <img src="{% static 'genre_images/Reggae.PNG' %}"
                     width="150"
                     height="150" alt="Reggae Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Hip-Hop' %}">

                <img src="{% static 'genre_images/Hip-Hop.PNG' %}"
                     width="150"
                     height="150" alt="Hip-Hop Image" />

            </a>
        </td>
        <td>
            <a href="{% url 'applausable:show_genre' 'Electronic' %}">

                <img src="{% static 'genre_images/Electronic.PNG' %}"
                     width="150"
                     height="150" alt="Electronic Image" />

            </a>
        </td>
    </tr>
</table>

{% endblock %}
