{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Artistpage
{% endblock %}

{% block body_block %}
<h1>Artist.</h1> 
<div>
    <h2>Top Rated Artists:</h2>
    {% for album in albums %}
        {{ album.albumName}}
    {% endfor %}
    {% if artists %}
        <ul>
        {% for artist in artists %}
            <li>{{ artist.artistName }}</li>
            <ul>
            {% if albums %}
                {% for album in albums %}
                    {% ifequal artist.artistName album.artistID.artistName %}
                        <li>{{ album.albumName }}</li>
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            </ul>
        {% endfor %}
        </ul>    
    {% else %}
        <strong>There are no rated artists.</strong>
    {% endif %}
</div>
{% endblock %}