{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Artistpage
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4"> 
    <div class="container"> 
        <h1 class="jumbotron-heading">Top Rated Artists:</h1> 
    </div>
</div>
<div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    {% if artists %}
                    <ul class="nav flex-column">
                        {% for artist in artists %}
                        <li class="nav-item">
                            {{ artist.artistName }}
                        </li>
                        <ul>
                            {% if albums %}
                            {% for album in albums %}
                            {% ifequal artist.artistName album.artistID.artistName %}
                            <li class="nav-item">
                                {{ album.albumName }}
                            </li>
                            {% endifequal %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <strong>There are no rated artists.</strong>
                    {% endif %}    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}