{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Genre
{% endblock %}

{% block body_block %}

{% if songs %}
    <div>
        <h2> Top 10 Songs in this genre: </h2>
        {% for song in songs %}
        <div class="comments" align="center" style="padding: 10px;">
            <p class="font-weight-bold">
                {{ song.artistName }} - <a href="{% url 'applausable:show_song' song.slug %}">{{ song.title }}</a>
                <span class=" text-muted font-weight-normal">
                    
                </span>
            </p>

        </div>
        {% endfor %}

    </div>
{% else %}

<br />
<h1>No songs found</h1>
{% endif %}
{% endblock %}
