{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Genre
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/photo_test.css' %}">

{% if songs %}
    <div class="jumbotron">
        <h2 algin='center'> Top 10 Songs in this genre: </h2>
    </div>

    <div class="container-fluid">  
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Song</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Score</th>
                  <th scope="col">Link</th>
                </tr>
              </thead>
              <tbody>
                {% for song in songs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ song.title }}</td>
                    <td>{{ song.artistName }}</td>
                    <td>{{ song.overallScore }}</td>
                    <td><a class="nav-link active" href="{% url 'applausable:show_song' song.slug %}">Learn More and Review</a> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
{% else %}
<br />
<h1>No songs found</h1>
{% endif %}

{% endblock %}
