{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}


<div class="jumbotron jumbotron-fluid p-4">
    <div class="container">
        <h1>Our Song Ranking:</h1>
    </div>
</div>


<div class="container">
    {% if songs %}
            {% for song in songs %}
            <a class="nav-link active" href="{% url 'applausable:show_song' song.slug %}">
                {{ song.title }}</a> with a score of {{song.overallScore}}
            {% endfor %}
    {% else %}
    No songs availble
    {% endif %}
</div>

{% endblock %}
