{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}


<div class="jumbotron jumbotron-fluid p-4">
    <div class="container">
        <h1>Our Song Ranking:</h1>
    </div>
</div>

<div class="container-fluid">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Song</th>
      <th scope="col">Artist</th>
      <th scope="col">Score</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% if songs %}
    {% for song in songs %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ song.title }}</td>
        <td>{{ song.artistName }}</td>
        <td>{{ song.overallScore }}</td>
        <td><a class="nav-link active" href="{% url 'applausable:show_song' song.slug %}">Learn More and Review</a> </td>
    </tr>
    {% endfor %}
{% else %}
No songs availble
{% endif %}
  </tbody>
</table>
</div>


{% endblock %}
