{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<!--
	<div class='container'>
		
		{% if user.is_authenticated %}
		Welcome {{ user.username }}! <a href="{% url 'applausable:show_user'%}">User Page</a>
		{% else %}
		<a href="{% url 'registration_register' %}">Sign Up for Applausable</a>
		{% endif %}
		</h4>
		<strong>{{ boldmessage }}</strong>
	</div>
-->

<div class='jumbotron jumbotron-fluid'>

	<div class='container p-4'>
		<h1 class="jumbotron-heading px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
			Search Applausable For Your Favorite Artists
		</h1>
		<form action="{% url 'applausable:search_results' %}" method="GET" value="{{request.GET.q}}">
			<input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Artists" />	
		</form>
	</div>

	<div class='container'>
		{% if submitbutton == 'Search' and request.GET.q != '' %}
		{% if results %}
		<h1>Results for <b>{{ request.GET.q }}</b></h1>
		<br />
		<br />
	
		{% for result in results %}
	
		{{result.title}}
		<br />
	
		{{result.content}}
		<br />
	
		{% endfor %}
		{% else %}
		No search results for this query
		{% endif %}
		{% endif %}
		{% if artists %}
	</div>
</div>

<div class="container">
	<div class="card text-center">
		<div class="card-header">
			<h3>Current Top Reviewed Song:</h3>
		</div>
		<div class="card-body">
			{% if songs %}
				{% for song in songs %}
					<img src="{{ MEDIA_URL }}{{ song.albumID.albumCover }}" width="400" height="400" alt="{{ song.artistName }}">
					<h4>{{ song.title }}</h4> 
					<h5 class="card-subtitle mb-2 text-muted">by {{song.artistName}}</h5>
					<p class="card-text">This song recieved a score of {{song.overallScore}}.</p>
					<a href="{% url 'applausable:show_song' song.slug %}" class="card-link">Learn More and Review</a>
				{% endfor %}
			{% endif %}  
		</div>
	</div>
	<br />
</div>

<div class="container" allign="centre">
	<div class="row justify-content-md-center">
	<div class="col-md-auto">
	<a href="{% url 'applausable:highestReviewedSongs' %}" class="btn btn-primary">View our song ranking</a>
	<a href="{% url 'applausable:all_genre' %}" class="btn btn-primary">View our song ranking by genre</a>
	</div>
	</div>
</div>

<div class="container">
	{% if request.user.is_superuser %}
		<a class="nav-link active" href="{% url 'applausable:add_artist' %}">
			Add an Artist
		</a>
	
	
	{% endif %}
	{% else %}
	
	<li class="nav-item">There are no artists present.</li>
	{% endif %}
</div>

<!-- Page 225-226 of book has good bootstrap display for artists and songs when it comes to it-->

{% endblock %}