{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}


<div class="jumbotron jumbotron-fluid p-4"> 
    <div class="container"> 
        <h4 class="jumbotron-heading"> 
            {% if user.is_authenticated %} 
                Welcome {{ user.username }}! 
            {% else %} 
            <a href="{% url 'signup' %}">Sign Up for Applausable</a>
            {% endif %}
        </h4> 
        <strong>{{ boldmessage }}</strong> 

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class='container'>
                            {% if artists %}
                                {% for artist in artists %}
                                    <li  class="nav-item">
                                        <a class="nav-link active" href="{% url 'show_artist' artist.slug %}">
                                            {{ artist.artistName }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="nav-item">There are no artists present.</li>
                            {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<!-- Page 225-226 of book has good bootstrap display for artists and songs when it comes to it-->

{% endblock %}