{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Specific Artist
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">

<div class="jumbotron jumboron-fluid">
    {% if artist %}
    <h1 align="center">{{ artist.artistName }}</h1>
</div>

<div class="container">
    <img src="{{ MEDIA_URL }}{{ artist.artistImage }}"
         width="300"
         height="300"
         alt="{{ artist.artistName }}'s profile image" />
         <br />
</div>

<div class="container">
    {% if mostPopularSongs %}
        <h2 align="center"> Top Songs from this Artist: </h2>
        {% for mSong in mostPopularSongs %}
        <div class="comments" align="center" style="padding: 10px;">
            <p class="font-weight-bold">
                <a href="{% url 'applausable:show_song' mSong.slug %}">{{ mSong.title }}</a>
                <span class=" text-muted font-weight-normal"></span>
            </p>
        </div>
        {% endfor %}
    {% endif %}
    {% else %}
    <h1>No artist found</h1>
    {% endif %}
</div>

<div class='container'>
    <p id="test"></p>
    
    <h2 align="center"> Albums: </h2>
    
    <div class="img-with-text"></div>
    <table width="150" border="0" cellpadding="5" align="center">
        <tr>
            {% for album in albums %}
    
            <td align="center">
                <a href="{% url 'applausable:show_album' album.slug %}">
    
                    <img src="{{ MEDIA_URL }}{{ album.albumCover }}"
                         width="250"
                         height="250" alt="Album Cover" />
                    <p>{{ album.albumName }}</p>
                </a>
    
            </td>
            {% if not forloop.last and forloop.counter|divisibleby:3 %}
        </tr>
        <tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>

    <a href="{% url 'applausable:add_album' artist.slug %}">Add Album</a><br />
</div>

{% endblock %}