{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ user.username }}'s Profile

{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
<script type="text/javascript">var email = "{{user.email}}";</script>

<script type="text/javascript" src="{% static 'js/email_button.js' %}"></script>


<div class="jumbotron">
    <div class='container'>
        {% if profile.picture %}
        <img src="{{ MEDIA_URL }}{{ profile.picture }}" width="300" height="300"
             alt="{{ user.username }}'s profile image" />
        {% endif %}

        <h1>{{ user.username }}'s Profile</h1>

    </div>
</div>


<div class="container">
    <p align="left"><button type="button" class="btn btn-outline-secondary" onclick="myFunction()">Click To reveal sensitive information</button></p>
	<div class='comments' align="left" style="padding: 10px;">
        <p class="font-weight-bold">
            Your website: <a href={{ profile.website }}>{{ profile.website}}</a>
            <span class=" text-muted font-weight-normal"></span>
        </p>
        </br>
        <p class="font-weight-bold">
            <div id="myDIV" class="font-weight-bold">Your email:</div>
            <span class=" text-muted font-weight-normal"></span>
        </p>
    </div>
</div>

<script>

</script>
<div class="container">
    <div class="row">
        <div class="card" style="width: 85rem; max-height:55rem; overflow:auto;">
            <div class="card-header">
                Reviews:
            </div>
            <ul class="list-group list-group-flush">
                {% for review in reviews %}
                <li class="list-group-item">
                    <p class="font-weight-bold">
					    
						<a  href="{% url 'applausable:show_song' review.songID.slug %}">
						{{ review.songID.title }} </a>
						({{ review.score }}/10): <br />
						By <a  href="{% url 'applausable:show_artist' review.songID.artistID.slug %}">
						 {{ review.songID.artistName }} </a>

                    </p>
                    {{ review.review | linebreaks }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br />

    </div>
</div>


{% endblock %}
