{% extends 'applausable/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ user.username }}'s Profile

{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
<script type="text/javascript">var email = "{{user.email}}";</script>

<script type="text/javascript" src="{% static 'js/email_button.js' %}"></script>


<div class="jumbotron">
    <div class='container'>
        {% if profile.picture %}
        <img src="{{ MEDIA_URL }}{{ profile.picture }}" width="300" height="300"
             alt="{{ user.username }}'s profile image" />
        {% endif %}

        <h1>{{ user.username }}'s Profile Info</h1>

    </div>
</div>
<p align="center"><button onclick="myFunction()">Click To reveal sensitive information</button></p>
<div class="container">
    <div class='comments' align="center" style="padding: 10px;">
        <p class="font-weight-bold">
            Your website: <a href={{ profile.website }}>{{ profile.website}}</a>
            <span class=" text-muted font-weight-normal"></span>
        </p>
        </br>
        <p class="font-weight-bold">
            <div id="myDIV" class="font-weight-bold">Your email:</div>
            <span class=" text-muted font-weight-normal"></span>
        </p>
    </div>
</div>





<script>

</script>
<div class='container'>
    <div class="comments" align="center" style="padding: 10px;">
        </br>
        <h3> Reviews: </h3>
        <br />
        {% for review in reviews %}
        <div class="comments" align="center" style="padding: 10px;">
            <p class="font-weight-bold">
                {{ review.songID.title }} {{ review.score }}
                <span class=" text-muted font-weight-normal"></span>
            </p>
            {{ review.review | linebreaks }}
        </div>
        {% endfor %}
        <br />
    </div>
</div>

{% endblock %}
