th, td {
    padding: 20px;
    text-align: center;
}
h1 {
    text-align : "center";
}
.img-with-text {
    text-align: justify;
    width: 300;
}

    .img-with-text img {
        display: block;
        margin: 0 auto;
    }